* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'montserrat',sans-serif;
}
.App{
  background-image: url('./assets/wt.png');
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.4s ease-out;
}
.App.warm{
  background-image: url('./assets/b2.png');
  background-size: cover;
}
main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom,rgba(0,0,0,0.2),rgba(0,0,0,0.4));
}
.search-box{
  width: 100%;
  margin: 0 0 75px;
  

}
.search-box .search-bar{

  display: block;
  width: 100%;
  padding:15px;

  appearance: none;
  background: none;
  border: none;
  outline:none;

 
  border-radius: 0px 0px 16px 16px;
  

  box-shadow: 0 0 rgba(0,0,0,0.2);

  color: #fff;
  font-size: 20px;

  transition: 0.4s ease;
}
.search-box .search-bar:focus{
  background-color: rgba(230, 233, 198, 0.2);
}
.location-box .location{
  margin-top: 85px;
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50,50,70,0.5);


}
.location-box .date{
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50,50,70,0.5);
}
.weather-box{
text-align: center;
}
.weather-box .temp{
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255,255,255,0.2);
  border-radius: 16px;

  padding: 15px 25px;

  color: #fff;
  font-size: 102px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(50,50,50,0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0,0,0,0.2);

}
.weather-box .weather{
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50,50,70,0.5);
}



.hscroll-line {
  margin-top: 55px;
  height: 1px;
  right: 43%;
	position: absolute;
	overflow: hidden;
  width:60px;
  transform: rotate(90deg);
 
}


.hscroll-line::before,
.hscroll-line::after {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: ""
}

.hscroll-line:before {
	background: #ffffff3b;
}

.hscroll-line::after {
	background: #fff;
	animation: move 1s infinite
}

@keyframes move {
	0% {
		transform: translate3d(-200%, 0, 0)
	}
	60% {
		transform: translate3d(100%, 0, 0)
	}
	100% {
		transform: translate3d(100%, 0, 0)
	}
}

